@model List<CartLine>

@{
    double Total()
    {
        double total = 0;
        foreach (var item in Model)
            total += (item.Item.price * item.Quantity);
        return total;
    }
}
@*<link type="text/css" rel="stylesheet" href="~/css/cart.css"/>*@
<script>src = "~/js/cart.js"</script>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Item.name</td>
                <td>@item.Item.price</td>
                <td><input type="button" onclick="/Cart/AddToCart/@item.Item.id" value="-" />@item.Quantity<input type="button" href="/Cart/AddToCart/@item.Item.id" value="+" /></td>
                <td>@(item.Item.price * item.Quantity)</td>
            </tr>
        }
    </tbody>
</table>
<div>
    Total: @(Total())
</div>


